body {
}

li:hover{ 
    color:aqua;

}


#playersHandCard:hover{ 
    color:aqua;

}

.Green{ 
    color:lightgreen;

}

.Red{ 
    color:red;
}

.Yellow{
    color:yellow;
}

.Blue{
    color:blue;
}

.Non{

}