body {
    background-color: #1a8cff;
}

button{
    color: white;
    background-color: #0066cc;
    border-radius: 40px;
    font-size: 50px;
    width: 400px;
}

.lobby{
    justify-content: center;
    align-items: center;
    height: 98vh;
}